.footerBackground {
    position: relative;

    height: 70px;
    margin-top: 60px;
    background: #888;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px -2px 3px rgb(51, 51, 51);
}