.no-color{
    background-image: linear-gradient(to right, rgba(53, 53, 53, 0.24), rgba(66, 66, 66, 0.233)),
        url(../../pics/header-pic.jpg);
        background-repeat: none;
        background-size: cover;
    box-shadow: 3px 0px 5px #000;
  }

h1 {
    letter-spacing: 10px;
}

.jumbotron {
    padding-bottom: 5px;
}

p {
    font-size: 60%;
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    font-style: italic;
}

hr {
    height: 1.5px;
    background-color: white;
    max-width: 450px;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

