.searchListPadding {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-content: center;
    margin-top: 40px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

