body {
    font-family: 'Anton', cursive;
    color: white;
	background-image: linear-gradient(to right, rgba(53, 53, 53, 0.24), rgba(66, 66, 66, 0.233)),
		url(./pics/background.jpg);
	background-attachment: fixed;
    background-size: cover;
}




